<index>
  <!-- <section id="index__main-product">
    <div id="">
      {{ pages.front-page-left-main-area.content }}
    </div>
    <div class="">

    </div>
  </section> -->

  <section id="index__publications-list">
    <h1>Publications</h1>
    <ul>
      {% for product in collections.frontpage.products limit:5 %}
      <li class="index__publication">
        <img src="{{ product.featured_image | img_url: "medium" }}" alt="">
        <h5>{{ product.title }}</h5>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="index__events-postings">

  </section>
</index>
