// footer

footer {
	display: flex;
	flex-direction: column;
	border-top: 1px solid grey;
	padding-bottom: 26px;
	@include mq(368px) {
		align-items: center;
	}
	@include mq(md) {
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 30px;
		width: 940px;
		margin: 0 auto;
	}
	@include mq(lg) {
		width: 1200px;
	}
}

#footer-logo {
	width: 120px;
	padding-top: 26px;
	margin: 0 auto;
}

#footer-nav {
	padding-top: 15px;
	@include mq(368px) {
		ul li {
			display: inline;
			&:not(:first-child) {
				padding-left: 20px;
			}
			@include mq(md) {
				a {
					font-size: 16px;
				}
			}
		}
	}
}

footer form {
	padding-top: 15px;
	@include mq(md) {
		padding-top: 11px;
	}
	label {
		padding-right: 1px;
	}
}

#footer-copyright {
	order: 99;
	margin: 13px auto 0;
	@include mq(md) {
		order: 0;
		padding-top: 11px;
		margin: 0;
	}
}
