// footer

footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-top: 1px solid grey;
	padding-bottom: 10px;
	@include mq {
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 30px;
	}
}

#footer-logo {
	width: 120px;
	padding-top: 15px;
}

#footer-nav {
	padding-top: 15px;
	ul li {
		display: inline;
		&:not(:first-child) {
			padding-left: 20px;
		}
  }
}

footer form {
	padding-top: 15px;
	label {
		padding-right: 1px;
	}
}

#footer-copyright {
	order: 99;
	@include mq {
		order: 0;
		padding-top: 15px;
	}
}
