// header

nav ul { // this will be applied to the footer nav also
	list-style: none;
	margin: 0px;
	padding: 0px;
	li a {
		color: grey;
		text-decoration: none;
		font-size: 18px;
		font-family: adobe-caslon-pro, serif;
		font-weight: 400;
		&:hover {
			color: #4f2c04;
		}
	}
}

#container {
	width: 100vw;
}

header {
	border-bottom: 1px solid grey;
	position: fixed;
	background: $bg-color;
	padding: 15px 0 0 0;
	margin-right: 15px;
	width: calc(100% - 30px);
	a #header-logo {
		transition: all .5s ease-in-out;
	}
	@include mq(md) {
		padding: 15px 0 0 0;
		margin-left: -470px;
		left: 50%;
		width: 940px;
	}
	@include mq(lg) {
		width: 1200px;
		margin-left: -600px;
	}
}

// used to animate header logo on scroll using js
.shrink a #header-logo {
	width: 130px;
  transition: all .5s ease-in-out;
}

.shrink #menu-button {
	top: 30px;
	transition: all .5s ease-in-out;
}

#header-logo {
  width: 195px;
	margin-bottom: 13px;
}

#menu-button {
	font-family: adobe-caslon-pro, serif;
	color: grey;
	background: none;
	border: none;
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 40px;
	transition: all .5s ease-in-out;
	&:hover{
		cursor: pointer; // not rly necessary lol but idk
	}
	@include mq(md) {
		display: none;
	}
}

#header-nav {
  font-size: 16px;
	margin-bottom: 6px;
	@include mq(400px) {
		margin: 0 auto 6px;
	}
  @include mq(md) {
		padding: 18px 0;
		margin: 0;
		float: right;
  }
	ul {
		@include mq(sm) {
			text-align: center;
		}
	}
  ul li {
    &:not(:first-child) {
      margin-top: 4px;
    }
		@include mq(sm) {
			display: inline;
			margin: 0 auto;
			&:not(:first-child) {
				padding-left: 20px;
	    }
		}
  }
}

// this fixes the text bottom spacing on chrome
// sorry im using !important 😓

.chrome-nav {
	@include mq(sm) {
		margin-bottom: 16px !important;
	}
	@include mq(md) {
		padding-top: 20px !important;
		margin-bottom: 0 !important;
	}
}
