index h1 {
  color: grey;
  font-weight: normal;
  font-family: "Garamond";
}

#index__publications-list {
  border-top: solid 1px grey;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .index__publication {
      padding: 0;
      max-width: 140px;
      .index__publication--image {
        max-width: 100%;
      }
      h5 {
        padding: 0;
        margin: 0;
      }
      .index__publication--title, .index__publication--author {
        font-size: 13px;
      }
      .index__publication--title {
        padding: 10px 0 4px;
      }
      .index__publication--author {
        font-weight: normal;
        padding-bottom: 16.1833px;
      }
    }
  }
}



#index__events-postings {
  border-top: solid 1px grey;
}

#index__events-postings--container {
  border: 1px solid grey;
  padding: 20px 10px 10px;
  margin-bottom: 16.1833px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .index__events-postings--article {
    max-width: 200px;
    p:first-of-type {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}
