#index__highlight-product {
  @include mq(sm) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: $u2;
  }
  @include mq(lg) {
    grid-column-gap: $u3;
  }
}

#index__highlight-product--content {
  max-width: 100vw;
  img {
    width: 100%;
  }
  p:first-child {
    margin-top: 0;
  }
  p:nth-of-type(2) {
    margin-top: $u2;
  }
  p:last-of-type {
    margin-bottom: $u2;
  }
}
#index__highlight-product--product {
  a {
    padding: 13px 0 26px;
    display: flex; // could use float here?
    flex-direction: row;
    justify-content: flex-start;
    @include mq(sm) {
      flex-direction: column;
      padding: 0;
    }
    #index__highlight-product--product-image {
      padding-right: 15px;
      flex-shrink: 0;
      width: 150px;
      @include mq(sm) {
        width: 100%;
        height: auto;
        padding: 0;
      }
    }
    #index__highlight-product--title {
      font-weight: bold;
      font-size: 15px;
      margin: 0 0 4px;
      @include mq(sm) {
        margin-top: $u2;
      }
    }
    #index__highlight-product--author {
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }
  }
}

#index__publications-list {
  border-top: solid 1px grey;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $u3 $u3;
    @include mq(600px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $u5 $u5;
    }
    @include mq(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @include mq(lg) {
      grid-gap: $u7 $u7;
    }
    .index__publication {
      padding: 0;
      // width: 40vw;
      .index__publication--image {
        width: 100%;
      }
      h5 {
        padding: 0;
        margin: 0;
      }
      .index__publication--title, .index__publication--author {
        font-size: 13px;
      }
      .index__publication--title {
        padding: 10px 0 4px;
      }
      .index__publication--author {
        font-weight: normal;
      }
    }
  }
}

#index__events-postings {
  border-top: solid 1px grey;
  margin-top: 26px;
}

#index__events-postings--container {
  border: 1px solid grey;
  padding: 20px 10px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 26px 26px;
  @include mq(sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .index__events-postings--article {
    &:not(:last-of-type) {
      border-bottom: 1px solid grey;
    }
    @include mq(sm) {
      &:nth-of-type(3) {
        border: none;
      }
    }
    @include mq(600px) {
      &:not(:last-of-type) {
        border: none;
      }
    }
    p:first-of-type {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}
