#index__highlight-product {
  @include mq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#index__highlight-product--content {
  max-width: 100vw;
  img {
    width: 100%;
  }
  @media screen and (min-width: 675px) {
    max-width: 660px;
    p:first-child {
      margin-top: 26px;
    }
  }
}
#index__highlight-product--product {
  padding: 13px 0 26px;
  @include mq {
    padding-top: 26px;
  }
  a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include mq {
      flex-direction: column;
      margin-left: 25px;
      width: 254px;
    }
    #index__highlight-product--product-image {
      padding-right: 15px;
      flex-shrink: 0;
      max-width: 150px;
      @include mq {
        width: 100%;
      }
    }
    #index__highlight-product--title {
      font-weight: bold;
      font-size: 15px;
      margin: 0 0 4px;
      @include mq {
        margin-top: 26px;
      }
    }
    #index__highlight-product--author {
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }
  }
}

#index__publications-list {
  border-top: solid 1px grey;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 26px 26px;
    @media screen and (min-width: 450px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .index__publication {
      padding: 0;
      // width: 40vw;
      .index__publication--image {
        width: 100%;
      }
      h5 {
        padding: 0;
        margin: 0;
      }
      .index__publication--title, .index__publication--author {
        font-size: 13px;
      }
      .index__publication--title {
        padding: 10px 0 4px;
      }
      .index__publication--author {
        font-weight: normal;
        padding-bottom: 16.1833px;
      }
    }
  }
}

#index__events-postings {
  border-top: solid 1px grey;
}

#index__events-postings--container {
  border: 1px solid grey;
  padding: 20px 10px 10px;
  margin-bottom: 16.1833px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .index__events-postings--article {
    max-width: 200px;
    p:first-of-type {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}
