// variables

$text-color: #4f2c04;
$bg-color:   #fbf9e9;

// units

$spacing-unit: 13px;

$u1: $spacing-unit;
$u2: calc(2 * #{$spacing-unit});
$u3: calc(3 * #{$spacing-unit});
$u4: calc(4 * #{$spacing-unit});
$u5: calc(5 * #{$spacing-unit});

// mixins

@mixin mq($point) {

  $bp-sm: "(min-width: 368px)";
  $bp-md: "(min-width: 980px)";
  $bp-lg: "(min-width: 1230px)";

  @if $point == lg {
    @media #{$bp-lg} { @content; }
  }
  @else if $point == md {
    @media #{$bp-md} { @content; }
  }
  @else if $point == sm {
    @media #{$bp-sm}  { @content; }
  }
	@else {
		@media (min-width: #{$point})  { @content; }
	}
}
