// variables

$text-color: #4f2c04;
$bg-color:   #fbf9e9;

// mixins

@mixin mq($point) {

  $bp-sm: "(max-width: 600px)";
  $bp-md: "(max-width: 940px)";
  $bp-lg: "(max-width: 1600px)";

  @if $point == lg {
    @media #{$bp-lg} { @content; }
  }
  @else if $point == md {
    @media #{$bp-md} { @content; }
  }
  @else if $point == sm {
    @media #{$bp-sm}  { @content; }
  }
	@else {
		@media #{$point}  { @content; }
	}
}
