@charset 'UTF-8';

@import "normalize";

@import "mixins";


body {
	background: $bg-color;
	color: $text-color;
	font: 13px Arial, Helvetica, sans-serif;
	h1 {
	  color: grey;
	  font-size: 22px;
	  font-weight: normal;
	  margin: 13px 0 26px;
		font-family: adobe-caslon-pro, serif;
		font-weight: 400;
	}
}

main {
  margin: 0 15px;
  @include mq(md) {
    width: 940px;
    margin: 0 auto;
  }
}

a {
	color: #4f2c04;
	text-decoration: none;
	&:hover {
		color: #7a4406;
	}
}

@import "header";
@import "footer";

@import "index";
