@charset 'UTF-8';

// variables

$breakpoint: 940px;

// mixins

@mixin media-query {
	@media screen and (min-width: $breakpoint) {
    @content;
  }
}


body {
	background: #fbf9e9;
	color: #4f2c04;
	font: 13px Cambria, Arial, Helvetica, sans-serif;
	margin: 0;
}

main {
  margin: 20px 15px;
  @include media-query {
    width: 940px;
    margin: 0 auto;
  }
}


// header

nav ul { // this will be applied to the footer nav also
	list-style: none;
	margin: 0px;
	padding: 0px;
	li a {
		color: grey;
		text-decoration: none;
		&:hover {
			color: #4f2c04;
		}
	}
}

header {
	border-bottom: 1px solid grey;
}

#header-logo {
  width: 195px;
}

#header-nav {
  font-size: 16px;
  padding: 10px 0;
  @include media-query {
    border: none;
		float: right;
		padding: 20px 0;
  }
  ul li {
    &:not(:first-child) {
      margin-top: 10px;
    }
		@include media-query {
			display: inline;
			a {
				padding-left: 20px;
			}
		}
  }
}

// footer

footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-top: 1px solid grey;
	@include media-query {
		flex-direction: row;
		justify-content: space-between;
	}
}

#footer-logo {
	width: 120px;
}

#footer-nav {
	ul li {
		display: inline;
		&:not(:first-child) {
			padding-left: 20px;
		}
  }
}

#footer-copyright {
	order: 99;
	@include media-query {
		order: 0;
	}
}
