@charset 'UTF-8';

@import "mixins";


body {
	background: #fbf9e9;
	color: #4f2c04;
	font: 13px Cambria, Arial, Helvetica, sans-serif;
	margin: 0;
}

main {
  margin: 20px 15px;
  @include mq {
    width: 940px;
    margin: 0 auto;
  }
}

@import "header";
@import "footer";

@import "index";
